body, html{
    margin:0;
    padding:0;
}
/* Пользовательские стили */
.alignment{
    width:900px;
    margin:0 auto;
}
.alignment h1{
    text-align: center;
}
.showComment{
    width:450px;
    float:left;
}
.showComment__item{
    background:#333;
    color:#fff;
    padding:10px 30px;
}
.addComment{
    width:400px;
    float:right;
}
.addComment input, .addComment textarea{
    width:350px;
}
